body{
    text-overflow: ellipsis;
}

.container-fluid{
    text-align: center;
}

.logo-main{
    margin: auto;

}
.row-head-main{
    background-color: rgb(13, 119, 27);
}
.head-main{
    margin: auto;
    font-size: 1.2vw;
    font-family: 'Merriweather', serif;
    font-weight: 2px;
    color: ghostwhite;
}

.contact-main{
    text-align: start;
    margin-top: 2em;
    color: beige;
}


.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.sticky a{
    color: beige;
}
.navbar{
    background-color: #052b08;
}

nav li{
    margin-left: 1em;
    margin-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
}

.carousel{
    background-color:#47735B;
}



.footer{
    background-color: #052b08;
    margin-top: 2em;
    padding: 1.5em;
    color: blanchedalmond;
}

.footer a{
    text-decoration: none;
    color: blanchedalmond;
}
h1{
    font-size: 4vw;
}
h2{
    font-size: 3.2vw;
}
h3{
    font-size: 3vmin;
}
h4{
    font-size: 1.5vmax;
}
.logo{
    width: 100%;
}
@media only screen and (max-width:720px){
    .logo{
        width:27vw;
    }
}
